body {
    background: #fff;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #fff;
    margin: 0;
    padding: 0;
}

.swiper-container {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 20px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 180px;
    height: 200px;
    background: #fff;
}
